@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f3;
}
.main-bg {
  position: relative;
}
/* .hero {
  height: 100vh;

  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
} */
.church-bg {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;

  opacity: 1;
  filter: brightness(0.3);
  z-index: -10;
}
.about-us {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.7)
    ),
    url("/who-bg.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  backdrop-filter: 0.5;
  opacity: 1;
  z-index: -10;
}
