@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: #023047;
}
body {
  background-color: #f5ebe0;
}
.main-bg {
  position: relative;
}
.church-bg {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;

  opacity: 0.3;
  z-index: -10;
}
